!google_services*
.env.example
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.gitignore
.git
.github/
.husky/
__tests__/
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
assets/images/downloadButtons
assets/images/banner.png