!google_services*
.env.example
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.firebaserc
.gitignore
.git/
.idea/
.github/
.husky/
__tests__/
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
assets/images/readme
*.md
