node_modules/
.expo/
.vscode/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
build/
dist/
.env
!assets/loginButtons/android
!assets/loginButtons/ios

google_services_ios-prod.plist
google_services_ios-dev.plist
google_services_android-dev.json
google_services_android-prod.json

*.log

# macOS
.DS_Store
