node_modules/
.expo/
.vscode/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
build
.env
!src/custom/loginButtons/android
!src/custom/loginButtons/ios
!__tests__/custom/loginButtons/android
!__tests__/custom/loginButtons/ios
!assets/loginButtons/android
!assets/loginButtons/ios

# macOS
.DS_Store
